@import "tailwindcss";

body {
  background-color: #f0f4f5;
  overflow-x: hidden;
  overflow-y: auto;
}

.slidebar-container {
  position: fixed;
  text-align: left; /* Reset text alignment */
  margin-left: 0; /* Reset margin-left */
  /* Add any other specific styles for the Slidebar */
}
.slidebar-container {
  position: fixed;

  left: 0;
  width: 200px; /* Adjust as needed */
  text-align: left;
  margin-left: 0;
}
.slidebar-container {
  margin-top: 2px;
}
